@tailwind base;
@tailwind components;
@tailwind utilities;

.react-flow__node {
  background: #12a9dc !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  border: transparent !important;
  padding: 10px !important;
  color: white !important;
  font-family: "Poppins";
  font-size: 8px !important;
  display: flex !important;
  align-items: center !important;
  justify-items: center !important;
}

.react-flow__edge-text {
  fill: #12a9dc !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  paint-order: stroke;
}

body {
  background-color: aliceblue;
}
@layer components {
  .btn-commun {
    @apply w-full flex items-center justify-center text-sm text-white gap-2 p-3 rounded-md;
  }
}
